<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">

    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>com.kerrrusha.playlistassistant.controller.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.kerrrusha.playlistassistant.controller.auth.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>com.kerrrusha.playlistassistant.controller.auth.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignoutServlet</servlet-name>
        <servlet-class>com.kerrrusha.playlistassistant.controller.auth.SignoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectFavouriteArtistsServlet</servlet-name>
        <servlet-class>com.kerrrusha.playlistassistant.controller.SelectFavouriteArtistsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetFavouriteArtistsServlet</servlet-name>
        <servlet-class>com.kerrrusha.playlistassistant.controller.user.SetFavouriteArtistsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/index</url-pattern>
        <url-pattern></url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/auth/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/auth/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignoutServlet</servlet-name>
        <url-pattern>/auth/signout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectFavouriteArtistsServlet</servlet-name>
        <url-pattern>/select-favourite-artists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetFavouriteArtistsServlet</servlet-name>
        <url-pattern>/user/set-favourite-artists</url-pattern>
    </servlet-mapping>

    <filter>
        <description>
            Redirect all not authorized requests to index.jsp
        </description>
        <filter-name>IsAuthorizedFilter</filter-name>
        <filter-class>com.kerrrusha.playlistassistant.filter.IsAuthorizedFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>IsAuthorizedFilter</filter-name>
        <url-pattern>/user/set-favourite-artists</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IsAuthorizedFilter</filter-name>
        <url-pattern>/select-favourite-artists</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>
            com.kerrrusha.playlistassistant.task_manager.StartupTaskManager
        </listener-class>
    </listener>

    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.xml</param-value>
    </context-param>
</web-app>